.famous{
    text-align:center;
    font-size:100px;
    font-family:'Times New Roman';
    font-weight: bolder;
  }
  
  .system{
    text-align:center;
    font-size:100px;
    font-family:'Times New Roman';
    font-weight: bolder;
  }
  img{
    width:200px;
    padding-right:0.1px;
    padding-left:30px;
  }